source https://nuget.org/api/v2
framework: auto-detect
redirects: on

nuget FAKE
nuget FakeItEasy
nuget FluentAssertions
nuget Microsoft.Reactive.Testing
nuget NUnit
nuget NUnit.Runners
nuget System.Reactive ~> 4.1.5
nuget System.ValueTuple ~> 4.5.0
