<configuration>
	<dllmap dll="libpcsclite.so.1" os="osx" target="/System/Library/Frameworks/PCSC.framework/PCSC" />
	<dllmap dll="winscard.dll" os="osx" target="/System/Library/Frameworks/PCSC.framework/PCSC" />
	<dllmap dll="libdl.so.2" os="osx" target="libSystem.B.Dylib" />
	<dllmap dll="libdl.so.2" os="solaris" target="ld.so" /> 
</configuration>
